﻿@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>



@using (Html.BeginForm("Update", "Customer"))
{
    @Html.ValidationSummary(true,"Proszę napraw poniższe błędy.")

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name,new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Brithdate)
        @Html.TextBoxFor(m => m.Customer.Brithdate,"{0:d MM yyyy}" , new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Brithdate)
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.isSubscribeToNewsletter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


