﻿@model   Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<ul>
    <li>@Model.membershipType.Name</li>
    @if(Model.Brithdate != null)
    {
        
        <li> @Model.Brithdate.Value.ToShortDateString()</li>
                
    }
</ul>

