﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.Year</li>
    <li>Added Date: @Model.DateAdded.ToShortDateString()</li>
    <li>Number in Stock: @Model.NumberInStock </li>
</ul>



