﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movie", new { @class = "btn btn-primary" })

<br /><br />

    <table id ="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var table = $('#movies').DataTable({
                ajax: {
                    url: "/api/Movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: 'name',
                        render: function(data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
        });

            $('#movies').on('click',
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?", function(result) {
                        if (result) {
                            $.ajax
                            ({
                                url: "/api/movies/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
        });
    </script>
}




