﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<p class="text-primary">Added: @Model.DateAdded.ToShortDateString()</p>
@using (Html.BeginForm("Update", "Movie"))
{
    @Html.ValidationSummary(true,"Popraw poniższe błędy.")

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new{ @class= "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>
    <div class="form-group">
        
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate,"{0: d/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Movie.ReleaseDate)
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId,new SelectList(Model.Genres,"Id","Name"),"", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Movie.Id)
    @Html.HiddenFor(m => m.Movie.DateAdded)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}