﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

    <table id ="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th> 
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var table = $('#movies').DataTable({
                ajax: {
                    url: "/api/Movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: 'name',
                    },
                    {
                        data: "genre.name"
                    }
                ]
        });

            
        });
    </script>
}




